.about-us {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}
.hero-section {
    background: url('/public/cover1.png') no-repeat center center/cover;
    padding: 100px 20px;
    text-align: center;
    color: white;
}
.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}
.hero-content p {
    font-size: 1.5rem;
}
.mission-section, .history-section, .team-section {
    padding: 60px 20px;
    text-align: center;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}
.mission-section h2, .history-section h2, .team-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #e74c3c; 
}
.mission-section p, .history-section p, .team-section p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
}
.offer-section {
    padding: 60px 20px;
    background-color: #ecf0f1; 
}
.food-display-section, .query-form-section {
    padding: 40px 20px;
}
@media (max-width: 768px) {
    .hero-content h1 {
      font-size: 2rem;
    }
    .hero-content p {
      font-size: 1.2rem;
    }
  }
  