
/* body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
    font-size: 2rem;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
thead {
    background-color: #4CAF50;
    color: white;
}
th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

button {
    background-color: #a91717;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #a04545;
}
  
button:focus {
    outline: none;
}
.error-toast {
    color: #d32f2f;
    background-color: #f8d7da;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 15px;
}
@media (max-width: 768px) {
    table, thead, tbody, th, td, tr {
      display: block;
    }
  
    thead tr {
      display: none;
    }
  
    tr {
      margin-bottom: 15px;
    }
  
    td {
      padding: 10px;
      text-align: right;
      position: relative;
      padding-left: 50%;
    }
  
    td:before {
      content: attr(data-label);
      position: absolute;
      left: 15px;
      width: calc(50% - 30px);
      text-align: left;
      font-weight: bold;
    }
  }
  